themes {
    default {
        fg "#faf8f5"
        bg "#486C7C"
        black "#261A09"
        red "#967763"
        green "#3E6E82"
        yellow "#567683"
        blue "#72878E"
        magenta "#B3B4AA"
        cyan "#261A09"
        white "#877f71"
        orange "#486C7C"
    }
}
