themes {
    default {
        fg "#0a0d14"
        bg "#5C51B0"
        black "#f6d7c4"
        red "#6553AD"
        green "#9A699D"
        yellow "#8375CE"
        blue "#FEB98E"
        magenta "#FEBFA1"
        cyan "#f6d7c4"
        white "#ac9689"
        orange "#5C51B0"
    }
}
