themes {
    default {
        fg "#f6f6f5"
        bg "#9E5D57"
        black "#201E1F"
        red "#C95759"
        green "#778B6C"
        yellow "#988974"
        blue "#C6857B"
        magenta "#AAA197"
        cyan "#201E1F"
        white "#777874"
        orange "#9E5D57"
    }
}
