[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=clash
Comment=clash
Exec=sh -c "clash -f ~/.config/clash/profiles/1644052964085.yml"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

