@import url("/home/hydroakri/.cache/wal/colors-custom-gtk3.css");

* {
    font-family: "Inter Display" ,"Caskaydiacove nerd font", "HarmonyOS Sans SC", "sarasa ui sc";
    border: none;
    border-radius: 9px;
} 

window {
    font-size: 32px;
    background-color: @color14Alpha;
    color: white;
}

#entry{
    padding: 0.25em;
}

#entry:selected {
    background: @color8;
    background-color: linear-gradient(135deg, @color6Alpha,@color14Alpha);
}

#text{
    color: @color0
}

#text:selected {
    color: @color0
}

#input {
    background-color: @color6Alpha;
    color: @color0;
    padding: 0.25em;
}

image{
    margin-left: .25em;
    margin-right: .25em;
}
