* {
    font-family: "Inter" ,"CaskaydiaCove Nerd Font", "Sarasa UI SC";
    border: none;
    border-radius: 7px;
}

window {
    font-size: 32px;
    background-color: rgba(25, 25, 25, 0.0);
    color: white;
}

#entry{
    padding: 0.25em;
}

#entry:selected {
    background: linear-gradient(90deg, #6493cf, #e4a3f5);
}

#text:selected {
    color: #333333;
}

#input {
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    padding: 0.25em;
}

image{
    margin-left: .25em;
    margin-right: .25em;
}
