* {
    font-family: "Inter Display" ,"Caskaydiacove nerd font", "sarasa ui sc";
    border: none;
    border-radius: 9px;
} 

window {
    font-size: 32px;
    background-color: rgba(239, 241, 245, 1.0);
    color: white;
}

#entry{
    padding: 0.25em;
}

#entry:selected {
    background: linear-gradient(135deg, #ea999c,#babbf1);
}

#text{
    color: #1f1f1f
}

#text:selected {
    color: #1f1f1f
}

#input {
    background-color: rgba(239, 241, 245, 0.6);
    /* color: white; */
    padding: 0.25em;
}

image{
    margin-left: .25em;
    margin-right: .25em;
}
