[LayoutSettings]
backgroundStyle=1
color=green
customBackground=
customTextColor=
icon=
lastUsedActivity=5d3925c0-019a-4697-b773-39812dbfa62c
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
