[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hydroakri/Desktop/微积分中文版下册.pdf]
row=5
col=15

[/home/hydroakri/Desktop/网络211黄绍轩21404010307.docx]
row=1
col=16

[/home/hydroakri/Desktop/程序设计II.pdf]
row=5
col=16

[/home/hydroakri/Desktop/rm]
row=0
col=16

[/home/hydroakri/Desktop/手机备份]
row=3
col=17

[/home/hydroakri/Desktop/draft.md]
row=6
col=16

[/home/hydroakri/Desktop/机器人学院团委学生会先进类型申请表-黄绍轩.docx]
row=4
col=16

[/home/hydroakri/Desktop/C++答辩.pptx]
row=2
col=15

[/home/hydroakri/Desktop/DOCUMENTS]
row=7
col=17

[/home/hydroakri/Desktop/微积分7天搞定.pdf]
row=8
col=16

[/home/hydroakri/Desktop/刷机]
row=4
col=17

[/home/hydroakri/Desktop/THE INVOLUTION.docx]
row=2
col=16

[/home/hydroakri/Desktop/剧本.docx]
row=3
col=16

[/home/hydroakri/Desktop/book]
row=6
col=17

[/home/hydroakri/Desktop/微积分中文（扫描版）.pdf]
row=7
col=16

[/home/hydroakri/Desktop/finished]
row=8
col=17

[/home/hydroakri/Desktop/chrome-nfcpckcenfhcijppoopgangddlnnjcea-Default.desktop]
row=3
col=15

[/home/hydroakri/Desktop/chrome-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=1
col=15

[/home/hydroakri/Desktop/新媒]
row=5
col=17

[/home/hydroakri/Desktop/hydroakri.github.io]
row=4
col=15

[/home/hydroakri/Desktop/10 Minutes Till Dawn.desktop]
row=0
col=15

[回收站]
row=0
col=17

[/]
row=1
col=17

[/home/hydroakri]
row=2
col=17

